/* Font Faces */
@font-face {
    font-family: 'OstrichSans-Bold';
    src: url('./assets/fonts/OstrichSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'marker';
    src: url('./assets/fonts/PermanentMarker-Regular.ttf') format('opentype');
}

/* Base Styles */
body,
html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
    width: 100vw;
    overflow-x: hidden;

    background: rgb(255, 254, 250);
    background: linear-gradient(90deg, rgba(255, 254, 250, 1) 0%, rgba(255, 245, 204, 1) 100%);
}

.header {
    text-align: center;
    font-size: 40px;
    padding: 20px 0;
    animation: FadeIn 2s;
}

h1 {
    font-family: 'OstrichSans-Bold', sans-serif;
    font-size: 4rem;
}

.middle-panel {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100%;
    /* Ensure the right-side div takes up full height */
    width: 100%;
    /* Ensure the right-side div takes up full width */
}

.right-panel {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100%;
    /* Ensure the right-side div takes up full height */
    width: 100%;
    /* Ensure the right-side div takes up full width */
}

.movie-list-container {
    background-color: white;
    border: #000 solid 1px;
    border-radius: 10px;
    width: 80%;
    /* Adjusted width to be responsive */
    max-width: 60%;
    /* Ensure it doesn't overflow horizontally */
    max-height: 60vh;
    /* Ensure it doesn't overflow vertically */
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    /* Allow vertical scrolling */
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.movie-list-container h3 {
    text-align: center;
}

#movie-list-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#movie-list-container::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#movie-list-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #7d7d7d;
}

.movie-list {
    display: flex;
    flex-direction: column;
    transition: 1s linear all;
}

a {
    color: rgb(1, 1, 1);
    text-decoration: none;
    margin-top: 1em;
    display: inline-block;
    font-weight: bold;
    padding: .5em;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    &:before,
    &:after {
        position: absolute;
        content: '';
        border-bottom: 3px solid rgb(2, 26, 58);
        border-radius: 1em;
        bottom: .3em;
        transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:before {
        width: 1em;
        transform-origin: left;
    }

    &:after {
        width: 82%;
        left: 1em;
        transform: translateX(110%);
    }

    &:hover:before {
        transform: scaleX(0.3);
    }

    &:hover:after {
        transform: translateX(0);
    }

}

.intro-panel,
.movie-selected-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4rem;


}

.movie-selected-panel {
    transform: translateY(-300%);
    opacity: 0%;
    gap: 2rem;
}

.functions {
    display: grid;
    grid-template-columns: 35vw 30vw auto;
    height: auto;
    text-align: center;
}

.disk-functions {
    position: relative;
    transform: translateX(-30%);
}

.disk-container {
    width: 25vw;
    /* Adjust this based on the desired size relative to the viewport */
    height: 25vw;
    overflow: clip;
    /* Adjust as needed */
    transform: translateX(-200%);
}

.disk-drive {
    transform: rotate(180deg);
    z-index: 3;
    width: 120%;
    height: 120%;
    overflow: visible;
}

.fixed {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    transform: translate(-50%, -50%);
}

.radio-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.option-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #000000;
    background-color: #fc0;
    border: solid black 1px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    max-width: 300px;
}

.option-button:hover {
    background-color: #0056b3;
    color: #fc0;
}

.selectt {
    display: none;
    transition: 2s ease all;
}

.active {
    display: block flow;
}

.slide-in {
    animation: SlideIn 2s;
    animation-fill-mode: forwards;
}

.spinner {
    position: absolute;
    width: 100%;
    /* Make the spinner fill the container */
    height: 100%;
    /* Match the height to keep the disk square */
    left: 0;
    /* Center the spinner in the container */
    top: 0;
    /* Center the spinner in the container */
    transform-origin: center;
}



.disk {
    width: 100%;
    transform-origin: center;
    transform: rotate(90deg);
}

.disk-text-right,
.disk-text-left {
    font-family: "marker";
    position: absolute;
    width: 8vw;
    overflow-wrap: break-word;
    font-size: 1.8vw;
}

.disk-text-right {
    top: 45%;
    left: 65%;
}

.disk-text-left {
    text-align: center;
    transform: rotate(180deg);
    top: 46%;
    left: 5%;
}

.primary-button {
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    /* Match base font size */
    color: black;
    background-color: #fc0;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.primary-button:hover {
    color: #ffcc00;
    background-color: #3d65ba;
}

.primary-button:disabled {
    color: #040404;
    background-color: #888888;
    border: none;
    cursor: none;
}

#import-button.imported {
    color: #ffffff;
    background-color: #5cd740;
    border: none;
    cursor: none;
}

#choose-text {
    margin-left: 10px;
    color: #aaa;
}



.arrow {
    position: absolute;
    top: 250px;
    right: calc(100vw - 300px);
}

/* HTML: <div class="loader"></div> */
.loader {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    animation: l1 1s linear infinite alternate;
}

.loader:before {
    content: "Finding your movie"
}

@keyframes l1 {
    to {
        opacity: 0
    }
}

.link active {
    display: flex;
    flex-direction: column;
}

.input-url {
    height: 2rem;
    border-radius: 5px;
    border: solid #3d3d3d;
    padding-left: 1rem;
}

.movie-link a {
    text-decoration: none;
    font-size: 26px;
    color: #000;
    font-weight: 900;
    position: relative;
}

.slide-down-dissapear {
    animation: SlideDownDissapear 1s;
    animation-fill-mode: forwards;
}

.slide-down-appear {
    animation: SlideDownAppear 1s;
    animation-fill-mode: forwards;
}

/* Animations */
@keyframes SlideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes SlideDownDissapear {
    from {
        transform: translateY(0%);
        opacity: 100%;
    }

    to {
        transform: translateY(300%);
        opacity: 0%;
    }
}

@keyframes SlideDownAppear {
    from {
        transform: translateY(-300%);
        opacity: 0%;
    }

    to {
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes FadeIn {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}